<div  class="fadeIn fast animated">
    <h1 class="text-center" >Heroes</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 text-right">
            <button [routerLink]="['/hero', 'nuevo']" 
                    class="btn btn-outline-primary"
                    type="button" name="button">
            Nuevo
        </button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark animated fadeIn fast">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Casa</th>
                            <th class="text-right" scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="animated fadeIn fast">
                        <tr class="animated fadeIn fast" 
                            *ngFor="let k of heroes | keys; let i = index ">
                            <td> {{ i + 1 }} </td>
                            <td> {{ heroes[k].name }} </td>
                            <td> {{ heroes[k].house}} </td>
                            <td class="text-right">
                                <button type="button" 
                                        class="btn btn-sm btn-success"
                                        [routerLink]="['/hero', k]">
                                    Editar
                                </button>
                                <button (click)="deleteHero(k)"
                                        type="button" 
                                        class="btn btn-sm btn-danger">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="(heroes | keys).length === 0 && !loading"
                     class="animated fadeIn fast alert alert-info text-center" role="alert">
                    <strong>Noy hay registros que mostrar</strong>
                </div>

                <div *ngIf="loading"
                     class="animated fadeIn fast alert alert-warning text-center" role="alert">
                    <strong>Cargando ...</strong>
                </div>
            </div>
        </div>
    </div>
</div>
